* {
    font-family: 'Roboto', sans-serif;
}

.aleo {
    font-family: 'Aleo', serif;
}

.case-study-image {
    width: 100%;
}

.purple-bg {
    background-color: #7b0dbc;
}

.cyan-color {
    color: #2bcfe2;
}

.carousel-buttons {
    font-size: 30px;
}

.contact-label {
    display: none;
}

.contact-input {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Aleo', serif;
}

::placeholder {
    color: #ffffff;
}

.contact-textarea {
    outline: none;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Aleo', serif;
}

.contact-button {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 2px 30px;
    font-family: 'Aleo', serif;
}

#footer-ul,
#locations-ul {
    list-style: none;
}

#footer-ul li {
    display: inline-block;
}