/* Global Styles Start */
* {
    font-family: 'Roboto', sans-serif;
}

.aleo {
    font-family: 'Aleo', serif;
}

.case-study-image {
    width: 100%;
}

.purple-bg {
    background-color: #7b0dbc;
}

.cyan-color {
    color: #2bcfe2;
}
/* Global Styles End */



/* Clip-Path Polygon Styles Start */
#we-are-imedia-block {
    padding-bottom: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

#industry-expertise-block {
    padding: 200px 20px;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
}

#quote-block {
    padding: 200px 20px;
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
}
/* Clip-Path Polygon Styles End */



.carousel-buttons {
    font-size: 30px;
}

.contact-label {
    display: none;
}

.contact-input {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Aleo', serif;
}

::placeholder {
    color: #ffffff;
}

.contact-textarea {
    outline: none;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Aleo', serif;
}

.contact-button {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 2px 30px;
    font-family: 'Aleo', serif;
}

#footer-ul,
#locations-ul {
    list-style: none;
}

#footer-ul li {
    display: inline-block;
}