* {
    font-family: 'Roboto', sans-serif;
}

.aleo {
    font-family: 'Aleo', serif;
}

.case-study-image {
    width: 100%;
}

.purple-bg {
    background-color: #7b0dbc;
}

#footer-ul,
#locations-ul {
    list-style: none;
}

#footer-ul li {
    display: inline-block;
}